
<div *ngIf="AccionABMC == 'L'">

<button type="button" class="btn btn-primary" (click)="Agregar()">
            <span class="fas fa-plus"> </span> 
            Agregar
</button>
<table class="table">
        <thead>
            <tr>
                <th>RazonSocial</th>
                <th>IdEmpresa</th>
                <th>FechaFundacion</th>
                <th>CantidadEmpleados</th>
                <th class="text-center text-nowrap">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let item of Items">
                <td>{{item.RazonSocial}}</td>
                <td>{{item.IdEmpresa}}</td>
                <td>{{item.FechaFundacion}}</td>
                <td>{{item.CantidadEmpleados}}</td>
				    <td class="text-center text-nowrap">

					<button type="button" class="btn btn-sm btn-outline-primary" title="Modificar" (click)="Modificar(item)">
                    <span class="fas fa-pencil-alt"></span>
                </button>
					<button type="button" class="btn btn-sm btn-outline-primary"
                    title="Eliminar" (click)="Eliminar(item.IdEmpresa)">
                    <span class="fas fa-times"></span>
                </button>
				</td>
            </tr>
        </tbody>
    </table>

</div>

<!----------------------------- -->

<form name="FormReg" [formGroup]='FormReg' *ngIf="AccionABMC != 'L'" class="bg-light">

		<!--campo Razon Social-->
		<div class="form-group row">
			<label class="col-form-label col-sm-2 col-sm-offset-2" for="RazonSocial">Razon Social <span
                    class="text-danger">*</span></label>
			<div class="col-sm-6">
				<input type="text" class="form-control" formControlName="RazonSocial" 
         [ngClass]="{'is-invalid': (FormReg.controls.RazonSocial.touched || submitted)  
            && FormReg.controls.RazonSocial.errors}" />

				<span class="text-danger" *ngIf="(FormReg.controls.RazonSocial.touched || submitted ) 
                        && FormReg.controls.RazonSocial.errors?.required">
                    Dato requerido.
                </span>
                <span class="text-danger" *ngIf="(FormReg.controls.RazonSocial.touched || submitted ) 
                       && (FormReg.controls.RazonSocial.errors?.minlength || FormReg.controls.RazonSocial.errors?.maxlength) ">
                    Dato texto, 4 a 55 caracteres.
                </span>
                
			</div>
		</div>

    <!--campo Cantidad de empleados-->

		<div class="form-group row">
			<label class="col-form-label col-sm-2 col-sm-offset-2" for="CantidadEmpleados">
                Cantidad Empleados <span class="text-danger">*</span>
            </label>
			<div class="col-sm-6">
				<input type="text" class="form-control" formControlName="CantidadEmpleados"
        [ngClass]="{'is-invalid': (FormReg.controls.CantidadEmpleados.touched || submitted)  
            && FormReg.controls.CantidadEmpleados.errors}" />
				<span class="text-danger" *ngIf="(FormReg.controls.CantidadEmpleados.touched || submitted ) 
                        && FormReg.controls.CantidadEmpleados.errors?.required">
                    Dato requerido.
                </span>
				<span class="text-danger" *ngIf="(FormReg.controls.CantidadEmpleados.touched || submitted ) 
                        && FormReg.controls.CantidadEmpleados.errors?.pattern">
                    Dato numérico, 1 a 7 dígitos.
                </span>
			</div>
		</div>


		<!--campo fecha-->
		<div class="form-group row">
			<label class="col-form-label col-sm-2 col-sm-offset-2" for="FechaFundacion">Fecha Fundacion <span
                    class="text-danger">*</span></label>
			<div class="col-sm-6">
				<input class="form-control" name="FechaFundacion" formControlName="FechaFundacion" [ngClass]="{'is-invalid': (FormReg.controls.FechaFundacion.touched || submitted)  
          && FormReg.controls.FechaFundacion.errors}" />

				<span class="text-danger" *ngIf="(FormReg.controls.FechaFundacion.touched || submitted ) 
                       && FormReg.controls.FechaFundacion.errors?.required">
                    Dato requerido.
                </span>
				<span class="text-danger" *ngIf="(FormReg.controls.FechaFundacion.touched || submitted) 
                       && FormReg.controls.FechaFundacion.errors?.pattern">
                    Dato fecha, formato dd/mm/aaaa.
        </span>
			</div>
		</div>




	<!-- Botones Grabar, Cancelar/Volver' -->
	<div class="row justify-content-center">
		<button type="button" class="btn btn-primary" (click)="Grabar()">
            <span class="fas fa-check"></span> Grabar
        </button>
		&nbsp;
		<button type="button" class="btn btn-warning" (click)="Cancelar()">
            <span class="fas fa-undo"></span> Cancelar
        </button>
	</div>

</form>